<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<!-- tomcat-user.xml 등록된 역할과 사용자 -->
   <security-role>
      <role-name>role1</role-name>
   </security-role>
   <!-- 사용자 요청 url에 대한 접근 권한 -->
   <security-constraint>
      <web-resource-collection>
         <web-resource-name>JSPBook</web-resource-name>
         <url-pattern>/22.09.21/security02.jsp</url-pattern>
         <!-- cart밑에 위치한 index.jsp 페이지를 요청하면 권한 있는 사용자만 접근가능 -->
         <http-method>GET</http-method>
      </web-resource-collection>
      <!-- 권환이 부여된 사용자만이 웹자원에 접근 할 수 있도록 이름 설정 -->
      <auth-constraint>
         <description></description>
         <role-name>role1</role-name>
      </auth-constraint>
   </security-constraint>
   <login-config>
       <auth-method>FORM</auth-method>      
       <form-login-config>
       		<form-login-page>/22.09.21/login.jsp</form-login-page>
       		<form-error-page>/22.09.21/login_failed.jsp</form-error-page>
       </form-login-config>
    </login-config>
    <error-page>
    	<error-code>500</error-code>
    	<location>/22.09.22/errorCode_error.jsp</location>
    </error-page>
   <error-page>
    	<exception-type>java.lang.Exception</exception-type>
     <location>/22.09.22/exceptionType_error.jsp</location> 
    </error-page>
    <filter>
    	<filter-name>Filter01</filter-name>
    	<filter-class>filter.AuthenFilter</filter-class>
    </filter>
    <!-- 필터이름 filter01과 Filter 인터페이스를 구현한 자바 클래스 AuthenFilter를 설정하도록 <filter>요소를 작성합니다. -->
    <filter-mapping>
    	<filter-name>Filter01</filter-name>
    	<url-pattern>/22.09.23/filter01_process.jsp</url-pattern>
    	<!-- 필터이름 Filter01과 요청 url 패턴 /filter01_process.jsp를 설정하도록 filter-mapping요소를 작성합니다. -->
    </filter-mapping>
    <filter>
    	<filter-name>Filter02</filter-name>
    	<filter-class>filter.InitParamFilter</filter-class>
    	<init-param>
    		<param-name>param1</param-name>
    		<param-value>admin</param-value>
    	</init-param>		
    	<init-param>
    		<param-name>param2</param-name>
    		<param-value>1234</param-value>
    	</init-param>
    </filter>
    <filter-mapping>
    	<filter-name>Filter02</filter-name>
    	<url-pattern>/22.09.23/filter02_process.jsp</url-pattern>
    </filter-mapping>
   <filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/22.09.23/loginForm_success.jsp</url-pattern>
	</filter-mapping>
</web-app>      