.reserve1{
	border-top:2px solid #876f55;
	box-shadow: 0 3px 6px -6px #666;
	height:60%;
	padding:80px;
	
}
input{
    height:20px;
    width:60%;
    border:none;
    text-align:center;
}
li{
	list-style:none;	
}
#btn{
	background-color: #382f24;
    width:100px;
    height:50px;
    border: none;
    font-size:medium;
    color:#f1ebd5;
	}